logic_app/WF3-GenerateAVAMCaptionsandAudio/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_AVAM_Access_Token": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "@body('Get_LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN')?['value']"
                },
                "runAfter": {
                    "Get_LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_access_token": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_AVAM_Access_Token')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "accessToken": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Get_AVAM_Access_Token": [
                        "Succeeded"
                    ]
                }
            },
            "Get_AVAM-ACCOUNT-ID": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "keyvault_1"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('AVAM-ACCOUNT-ID')}/value"
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Get_AVAM-ACCOUNT-REGION": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "keyvault_1"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('AVAM-ACCOUNT-REGION')}/value"
                },
                "runAfter": {
                    "Get_AVAM-ACCOUNT-ID": [
                        "Succeeded"
                    ]
                }
            },
            "Get_SPEECH-LANGUAGES-CONFIG": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "keyvault_1"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('SPEECH-LANGUAGES-CONFIG')}/value"
                },
                "runAfter": {
                    "Get_AVAM-ACCOUNT-REGION": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_Language_Settings": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_SPEECH-LANGUAGES-CONFIG')?['value']",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "language-text-code": {
                                    "type": "string"
                                },
                                "language-voice-code": {
                                    "type": "string"
                                },
                                "language-voice-name": {
                                    "type": "string"
                                },
                                "language-display-name": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "language-text-code",
                                "language-voice-code",
                                "language-voice-name",
                                "language-display-name"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Parse_access_token": [
                        "Succeeded"
                    ]
                }
            },
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Parse_Language_Settings')",
                "actions": {
                    "Get_Video_Captions": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "videoindexer-v2"
                                }
                            },
                            "method": "get",
                            "path": "/@{encodeURIComponent(body('Get_AVAM-ACCOUNT-REGION')?['value'])}/Accounts/@{encodeURIComponent(body('Get_AVAM-ACCOUNT-ID')?['value'])}/Videos/@{encodeURIComponent(variables('video_id'))}/Captions",
                            "queries": {
                                "accessToken": "@body('Parse_access_token')?['accessToken']",
                                "format": "ttml",
                                "language": "@body('Parse_current_item_language_setting')?['language-text-code']"
                            }
                        },
                        "runAfter": {
                            "Parse_current_item_language_setting": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Parse_current_item_language_setting": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@items('For_each')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language-text-code": {
                                        "type": "string"
                                    },
                                    "language-voice-code": {
                                        "type": "string"
                                    },
                                    "language-voice-name": {
                                        "type": "string"
                                    },
                                    "language-display-name": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "runAfter": {}
                    },
                    "Create_blob_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "azureblob"
                                }
                            },
                            "method": "post",
                            "body": "@body('Get_Video_Captions')",
                            "headers": {
                                "ReadFileMetadataFromServer": true
                            },
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                            "queries": {
                                "folderPath": "/videodubbing/working-files/",
                                "name": "@{variables('video_id')}/@{variables('video_id')}_@{items('For_each')['language-text-code']}_captions.ttml",
                                "queryParametersSingleEncoded": true
                            }
                        },
                        "runAfter": {
                            "Get_Video_Captions": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Call_an_Azure_function": {
                        "type": "Function",
                        "inputs": {
                            "method": "POST",
                            "body": "@body('Get_Video_Captions')",
                            "queries": {
                                "language_code": "@body('Parse_current_item_language_setting')?['language-text-code']",
                                "language_voice": "@body('Parse_current_item_language_setting')?['language-voice-name']",
                                "video_id": "@variables('video_id')"
                            },
                            "function": {
                                "connectionName": "azureFunctionOperation"
                            }
                        },
                        "runAfter": {
                            "Create_blob_(V2)": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Parse_Language_Settings": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "video_id",
                            "type": "string",
                            "value": "@triggerBody()?['video_id']"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Get_LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "keyvault_1"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN')}/value"
                },
                "runAfter": {
                    "Get_SPEECH-LANGUAGES-CONFIG": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "video_id": {
                                "type": "string"
                            }
                        }
                    },
                    "method": "POST"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}